<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chmouel.livebox-control</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>28A73C1F-5CFD-4D0F-9C96-E81178425135</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA5C8931-0F77-498A-A3DC-C2D2CF15D781</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>5 times</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34A92028-1900-4B6C-8904-573227049CF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chmouel Boudjnah</string>
	<key>description</key>
	<string>Control Orange Livebox</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Orange Livebox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python orange.py -x 5 {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA5C8931-0F77-498A-A3DC-C2D2CF15D781</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>orange</string>
				<key>script</key>
				<string>python orange.py -l</string>
				<key>title</key>
				<string>Orange Livebox control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28A73C1F-5CFD-4D0F-9C96-E81178425135</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python orange.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34A92028-1900-4B6C-8904-573227049CF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28A73C1F-5CFD-4D0F-9C96-E81178425135</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>34A92028-1900-4B6C-8904-573227049CF3</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>AA5C8931-0F77-498A-A3DC-C2D2CF15D781</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://blog.chmouel.com</string>
</dict>
</plist>
